@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
    margin: 0;
}

.logo{
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}
.nav-link{
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.038rem;
    cursor: pointer;
    /* color: white !important; */
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    border-top: 0.1875rem solid rgb(255, 255, 255 , 0);
    font-weight: 800;
}
.brand{
    max-width: 60px;
}
.nav-link:hover{
    border-top: 0.1875rem solid orange;
}

.background{
    background-color: grey;
}