.education-style{
    border-left: 1px solid gray;
    height: 250px;
    /* margin-right: 2px; */
}
.icon-div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFB400;
    position: absolute;
    left: 0;
    right: 0;
    line-height: 40px;
    text-align: center;
    z-index: 1;
    /* color: white; */
}
.icon{
}